<div>
  <div class="flex justify-between space-x-8 border-b-2 py-5">
    <div class="relative w-4/5">
      <img src="../../../assets/microsoft.png" alt="microsoft" />
      <div class="absolute top-52 left-32">
        <h1 class="text-sm text-white w-16 px-3">TECH</h1>
        <h1 class="bg-green-300 font-black text-white text-3xl p-2 my-3">
          Microsoft Terminate donations lawmakers
        </h1>
        <h1 class="bg-green-300 font-black text-white text-3xl p-2">
          who opposed Biden Certification
        </h1>

        <em class="text-white flex items-end"
          >John Emerald - February 04 2021</em
        >
      </div>
    </div>
    <div class="w-1/5 justify-center">
      <app-radio></app-radio>
      <div class="my-6">
        <img src="../../../assets/vitamin.png" alt="vitamin" class="w-56" />
      </div>
    </div>
  </div>

  <div class="flex flex-row space-x-8">
    <div class="flex flex-col w-4/6 flex-none">
      <div class="py-10">
        <p class="text-xl leading-loose">
          Microsoft Corp said on Friday it will suspend all donations by its
          political action committee (PAC) through 2022 to all U.S. lawmakers
          who voted to object to the certification of Joe Biden’s election as
          president. The software maker will also suspend contributions through
          the same period for state officials and organizations who supported
          objections or suggested the election should be overturned. Microsoft
          said it “will promote and join a conversation with other businesses
          and organizations that want to strengthen democracy. Recent events
          have raised issues of importance to PACs across the business
          community.” Microsoft President Brad Smith told employees on Jan. 21
          that over the last four years 20% of its PAC donations “had gone to
          members who voted against the Electoral College.”
        </p>

        <div class="bg-gray-300 p-4 my-4">
          <h1 class="font-bold text-xl my-2">
            Ten-men newcastle held on to beat Southampton
          </h1>
          <h1 class="bg-yellow-600 w-20 text-white font-bold px-2 text-lg my-2">
            <em>SPORT</em>
          </h1>
          <p>share</p>
        </div>
        <p class="text-xl leading-loose">
          Smith said PACs were important “not because the checks are big, but
          because of the way the political process works. Politicians in the
          United States have events, they have weekend retreats. You have to
          write a check, and then you’re invited, and you participate,”
          according to a transcript released by the company. “Out of that
          ongoing effort, a relationship evolves and emerges and solidifies.”
          Smith added there are times “I call people who I don’t personally
          know. And somebody will say, ‘Well, you know, your folks have always
          shown up for me at my events, and we have a good relationship, let me
          see what I can do to help you.’” PACs for dozens of major U.S.
          companies have halted donations to the 147 House and Senate members
          who voted against Biden’s certification, including Walmart Inc,
          Marriott Inc, AT&T Inc,, Amazon.com Inc, Comcast and American Express.
        </p>
      </div>
      <div class="bg-gray-300 flex p-4">
        <div>
          <h1 class="text-xl font-bold">534</h1>
          <p class="text-lg font-bold">Share</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-2/6 flex-none space-y-8 py-10">
      <div class="bg-gray-200 p-5 text-center">
        <h1 class="text-xl font-bold text-green-600">
          Subscribe to our newsletter
        </h1>
        <em class="text-xs">
          To be updated with the latest news, offers and special announcement
        </em>
        <div class="my-5">
          <input
            type="text"
            placeholder="your email address"
            class="p-2 border-gray-300 border-t-2 border-l-2 border-b-2"
          />
          <button class="p-2 bg-green-600">subscribe</button>
        </div>
      </div>
      <div class="bg-gray-300 p-5 text-center w-full">
        <h1 class="text-xl font-bold text-green-600">Stay Connected</h1>
        <div class="flex justify-between">
          <div class="my-4 flex flex-col justify-center font-semibold">
            <img
              src="../../../assets/facebook.svg"
              alt="facebook"
              class="h-12"
            />
            <p>13500</p>
            <p>fans</p>
          </div>
          <div class="my-4 flex flex-col justify-center font-semibold">
            <img
              src="../../../assets/twitter.svg"
              alt="facebook"
              class="h-12"
            />
            <p>2307</p>
            <p>followers</p>
          </div>
          <div class="my-4 flex flex-col justify-center font-semibold">
            <img
              src="../../../assets/youtube.svg"
              alt="facebook"
              class="h-12"
            />
            <p>1200</p>
            <p>Subscribers</p>
          </div>
        </div>
      </div>

      <div class="my-10">
        <h1
          class="text-3xl text-red-500 font-bold p-2 border-b-2 border-gray-300"
        >
          <em>Trending Post</em>
        </h1>
        <div>
          <div class="flex space-x-2 items-center my-3">
            <img
              src="../../../assets/superbowl.png"
              alt="superbowl"
              class="overflow-hidden h-24 w-32 object-cover"
            />
            <div class="my-3">
              <p class="text-lg font-bold">
                NBA legend Shaquille O'Neal to host pre-Super Bowl event 'Shaq
                Bowl'
              </p>
              <p class="text-gray-600 text-xs">February 04 2020</p>
            </div>
          </div>
          <div class="flex space-x-2 items-center my-3">
            <img
              src="../../../assets/superbowl.png"
              alt="superbowl"
              class="overflow-hidden h-24 w-32 object-cover"
            />
            <div class="my-3">
              <p class="text-lg font-bold">
                NBA legend Shaquille O'Neal to host pre-Super Bowl event 'Shaq
                Bowl'
              </p>
              <p class="text-gray-600 text-xs">February 04 2020</p>
            </div>
          </div>
          <div class="flex space-x-2 items-center my-3">
            <img
              src="../../../assets/superbowl.png"
              alt="superbowl"
              class="overflow-hidden h-24 w-32 object-cover"
            />
            <div class="my-3">
              <p class="text-lg font-bold">
                NBA legend Shaquille O'Neal to host pre-Super Bowl event 'Shaq
                Bowl'
              </p>
              <p class="text-gray-600 text-xs">February 04 2020</p>
            </div>
          </div>
          <div class="flex space-x-2 items-center my-3">
            <img
              src="../../../assets/superbowl.png"
              alt="superbowl"
              class="overflow-hidden h-24 w-32 object-cover"
            />
            <div class="my-3">
              <p class="text-lg font-bold">
                NBA legend Shaquille O'Neal to host pre-Super Bowl event 'Shaq
                Bowl'
              </p>
              <p class="text-gray-600 text-xs">February 04 2020</p>
            </div>
          </div>
        </div>
      </div>

      <div class="my-10">
        <h1
          class="text-3xl text-green-500 font-bold p-2 border-b-2 border-gray-300"
        >
          <em>Topics</em>
        </h1>
        <div class="flex flex-col space-y-3">
          <div>
            <img src="../../../assets/world.png" alt="world" />
          </div>
          <div>
            <img src="../../../assets/tech.png" alt="world" />
          </div>
          <div>
            <img src="../../../assets/sport.png" alt="world" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-10">
    <img
      src="../../../assets/bannerad2.png"
      alt="banner ad"
      class="h-20 w-full"
    />
  </div>

  <div>
    <h1>LEAVE A REPLY</h1>
    <div>
      <textarea
        name="Comments"
        id=""
        class="w-full h-48 border border-gray-800"
      ></textarea>
    </div>
    <div class="my-2 flex justify-center">
      <div class="flex flex-row space-x-6">
        <div>
          <label for="name" class="text-gray-400 text-lg"> Name: </label>
          <input type="text" class="border border-gray-800 p-4" />
        </div>
        <div>
          <label for="name" class="text-gray-400 text-lg">Email: </label>
          <input type="text" class="border border-gray-800 p-4" />
        </div>
      </div>
    </div>
    <div class="my-1 flex space-x-3 items-center">
      <input type="checkbox" name="saveName" class="" />
      <p class="text-lg">Save my name and email to subscriber's list</p>
    </div>
    <div class="my-3">
      <button class="bg-black text-white p-5 text-center">
        POST A COMMENT
      </button>
    </div>
  </div>
</div>
