.bg-green {
  background: #06926f;
  background-blend-mode: multiply;
  background-image: url("../../../assets/nav-bg.png");
  background-size: cover;
}

.bg-green-lighten {
  background: #118f6aa8;
}
