<div
  class="hidden md:flex justify-between items-center bg-black text-white py-6 px-20"
>
  <div>
    <h1 class="font-black text-4xl">GTR</h1>
  </div>
  <div class="flex justify-between space-x-6">
    <ul *ngFor="let link of links; trackBy: trackByFn">
      <li
        class="text-sm p-1 cursor-pointer"
        routerLink="{{ link.path }}"
        routerLinkActive="bg-green-600 text-black"
      >
        {{ link.name | uppercase }}
      </li>
    </ul>
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="#fff"
      class="h-8 w-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      />
    </svg>
  </div>
</div>

<!-- Mobile view nav -->
<div>
  <div class="py-3 md:hidden relative z-20">
    <div class="flex justify-between items-center">
      <h1 class="text-4xl font-bold">GTR</h1>
      <div
        class="flex space-x-3 items-center"
        *ngIf="!isHidden"
        (click)="isMobileNav = true; isHidden = true"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#000000"
          class="h-8 w-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-menu-2"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#2c3e50"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <line x1="4" y1="6" x2="20" y2="6" />
          <line x1="4" y1="12" x2="20" y2="12" />
          <line x1="4" y1="18" x2="20" y2="18" />
        </svg>
      </div>
    </div>
  </div>
  <div
    class="fixed z-50 w-11/12 top-0 transtition ease-in duration-1000"
    *ngIf="isMobileNav"
  >
    <div
      class="bg-green-900 opacity-100 text-white text-lg font-bold w-11/12 md:hidden h-screen absolute top-0 z-50 p-5 flex flex-col space-y-3"
    >
      <div class="flex justify-between">
        <input
          type="text"
          placeholder="search"
          class="p-2 bg-gray-50 w-1/2 rounded-md"
        />
        <h1
          class="text-3xl font-semibold text-white -mr-3"
          (click)="isMobileNav = false; isHidden = false"
        >
          X
        </h1>
      </div>
      <div>Home</div>
      <div>
        News
        <div class="my-1">
          <li
            class="list-none bg-gray-100 opacity-100 w-40 p-1 rounded-t-md text-gray-500 mb-1"
          >
            <div class="text-gray-500 text-center">Most popular</div>
          </li>
          <li
            class="list-none bg-gray-100 opacity-100 w-40 p-1 rounded-b-md text-gray-500"
          >
            <div class="text-gray-500 text-center">Latest Articles</div>
          </li>
        </div>
      </div>
      <div>Art</div>
      <div>Business</div>
      <div>Culture</div>
      <div>Music</div>
      <div routerLink="/politics">Politics</div>
      <div>Sport</div>
      <div routerLink="/tech">Tech</div>
      <div>Travel</div>
    </div>
  </div>
</div>
