<div class="bg-black text-white hidden md:block p-5">
  <div
    class="flex flex-row flex-wrap md:flex-nowrap justify-between space-x-2 p-3"
  >
    <div class="w-1/4 flex-none">
      <h1 class="font-bold text-4xl">GTR</h1>
      <p>We bring you the latest in news, entertainment, music and sport</p>
      <div class="my-3">
        <h1 class="text-yellow-400">Get in touch with us</h1>
        <p>contact@ghanatalksradio.com</p>
      </div>
      <div class="my-3">
        <h1 class="text-yellow-400">Follow us</h1>
        <div class="flex">
          <div></div>
        </div>
      </div>
    </div>
    <div class="w-1/4 flex-none">
      <h1 class="text-yellow-400 font-black text-2xl flex-none">About us</h1>
      <ul class="text-sm font-light space-y-2 my-1">
        <li>ADVERTISE</li>
        <li>ABOUT</li>
        <li>EVENTS</li>
        <li>WRITE FOR US</li>
      </ul>
    </div>
    <div class="w-1/4 flex-none">
      <h1 class="text-yellow-400 font-black text-2xl flex-none">
        Popular Category
      </h1>
      <ul class="text-sm font-light space-y-2 my-1">
        <li>POLITICS</li>
        <li>SPORT</li>
        <li>TECH</li>
        <li>ENTERTAINMENT</li>
        <li>HEALTH</li>
        <li>MUSIC</li>
        <li>LIFESTYLE</li>
      </ul>
    </div>
    <div class="w-1/4 flex-none">
      <h1 class="text-yellow-400 font-black text-2xl flex-none">
        Editor Picks
      </h1>
      <div class="flex flex-col space-y-3">
        <div class="flex space-x-2">
          <img
            src="../../../assets/editor.png"
            alt="editor picks"
            class="object-cover overflow-hidden w-48"
          />
          <div>
            <p class="text-sm font-bold">
              By the numbers: The Trump orbit's contract with the russians
            </p>
            <em class="text-xs">February 04 2021</em>
          </div>
        </div>
        <div class="flex space-x-2">
          <img
            src="../../../assets/editor.png"
            alt="editor picks"
            class="object-cover overflow-hidden w-48"
          />
          <div>
            <p class="text-sm font-bold">
              By the numbers: The Trump orbit's contract with the russians
            </p>
            <em class="text-xs">February 04 2021</em>
          </div>
        </div>

        <div class="flex space-x-2">
          <img
            src="../../../assets/editor.png"
            alt="editor picks"
            class="object-cover overflow-hidden w-48"
          />
          <div>
            <p class="text-sm font-bold">
              By the numbers: The Trump orbit's contract with the russians
            </p>
            <em class="text-xs">February 04 2021</em>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-t-4 border-white text-center p-5">
    Copyright 2021 Ghana Talk Radio. All rights reserved
  </div>
</div>

<!--Mobile Footer-->
<div class="p-10 bg-black text-white md:hidden">
  <div class="flex justify-between space-x-6">
    <div class="w-1/2 flex-none">
      <h1 class="font-bold text-2xl md:text-4xl">GTR</h1>
      <p class="text-xs">
        We bring you the latest in news, entertainment, music and sport
      </p>
      <div class="my-3 text-xs">
        <h1 class="text-yellow-400">Get in touch with us</h1>
        <p>contact@ghanatalksradio.com</p>
      </div>
      <div class="my-3">
        <h1 class="text-yellow-400">Follow us</h1>
        <div class="flex">
          <div></div>
        </div>
      </div>
    </div>
    <div class="w-1/2 flex-none">
      <h1 class="text-yellow-400 font-black text-lg md:text-2xl flex-none">
        About us
      </h1>
      <ul class="text-xs font-light space-y-2 my-1">
        <li>ADVERTISE</li>
        <li>ABOUT</li>
        <li>EVENTS</li>
        <li>WRITE FOR US</li>
      </ul>
    </div>
  </div>

  <div class="flex justify-betweeen space-x-5 my-5">
    <div class="w-1/2 flex-none">
      <h1 class="text-yellow-400 font-black text-2xl flex-none">
        Popular Category
      </h1>
      <ul class="text-xs md:text-sm font-light space-y-2 my-1">
        <li>POLITICS</li>
        <li>SPORT</li>
        <li>TECH</li>
        <li>ENTERTAINMENT</li>
        <li>HEALTH</li>
        <li>MUSIC</li>
        <li>LIFESTYLE</li>
      </ul>
    </div>
    <div class="w-1/2 flex-none">
      <h1 class="text-yellow-400 font-black text-2xl flex-none">
        Editor Picks
      </h1>
      <div class="flex flex-col space-y-3">
        <div class="flex space-x-2">
          <img
            src="../../../assets/editor.png"
            alt="editor picks"
            class="object-cover overflow-hidden w-48"
          />
          <div>
            <p class="text-xs font-bold">
              By the numbers: The Trump orbit's contract with the russians
            </p>
            <em class="text-xs">February 04 2021</em>
          </div>
        </div>
        <div class="flex space-x-2">
          <img
            src="../../../assets/editor.png"
            alt="editor picks"
            class="object-cover overflow-hidden w-48"
          />
          <div>
            <p class="text-xs font-bold">
              By the numbers: The Trump orbit's contract with the russians
            </p>
            <em class="text-xs">February 04 2021</em>
          </div>
        </div>

        <div class="flex space-x-2">
          <img
            src="../../../assets/editor.png"
            alt="editor picks"
            class="object-cover overflow-hidden w-48"
          />
          <div>
            <p class="text-xs font-bold">
              By the numbers: The Trump orbit's contract with the russians
            </p>
            <em class="text-xs">February 04 2021</em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
